@{
   ViewBag.Title = "About";
   ViewBag.Description = "";
   Layout = "_Layout";
}
<div class="shadow-inset"></div>
<section class="welcome-area pb-4" id="welcome-1">
   <div class="header-token">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 align-self-center text-center">
               <h1>About <strong>Blockcore Explorer</strong></h1>
               <p>
                  Blockcore Explorer is a cross-chain compatible Block Explorer provided by Blockcore.
               </p>
               <a href="https://github.com/block-core/blockcore-explorer" target="_blank" class="btn-white-line"><i class="fab fa-github"></i> Browse Source on Github</a>
               &nbsp;
               <a href="https://www.blockcore.net/" target="_blank" class="btn-white-line"><i class="fas fa-globe"></i> www.blockcore.net</a>
            </div>
         </div>
      </div>
   </div>
</section>
